
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  height: 100vh;   /*dorong burung ke bawah */
}
.menu {
  flex: 1;         
}
.logo-bawah {
  text-align: center; /* logo burung bth */
  padding: 10px;
}
.bird {
  width: 200px;
}


/* aktif pada fitur yang ingin di klik */
.sidebar .nav-item .nav-link.active {
  color: #f38b1c !important;
  border-radius: 5px;
}
/* supaya hover tidak mengganggu active */
.sidebar .nav-item .nav-link.active:hover {
  background-color: #f38b1c !important;
  color: #f38b1c !important;
}


.table {
  font-size: 20x; /*mengatur ukuran tabel*/
}

/*scroll tabel*/
.scroll-table thead th {
    position: sticky;
    top: 0;
    background: #f8f9fc; /* samakan dengan warna header */
    z-index: 1;
}




  /* Tambah data/pengajuan */
    .main {
      flex: 1;
      padding: 30px; /*ukuran form*/
    }

    .topbar-tambah{
      background: #406fba;
      color: white;
      padding: 10px 15px;
      border: 3px solid #e0e0e0; /*bayangan judul form*/
      border-radius: 8px 8px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .form-container {
      background: white;
      border: 2px solid #e0e0e0; /*bayangan di form*/
      border-radius: 8px;
      padding: 15px;
      margin-top: 5px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      color: #333;
    }

    input, textarea, select {
      width: 100%;
      padding: 10px 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 15px;
    }

    .date-time {
      display: flex;
      gap: 15px;
    }

    .date-time input {
      flex: 1;
    }

    .submit-btn {
      background: #FF8C00;
      color: white;
      border: none;
      padding: 14px 30px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
      margin-top: 10px;
    }

    .submit-btn:hover {
      background: #FF7A00;
    }

    .mascot {
      position: absolute;
      bottom: 20px;
      left: 30px;
      width: 180px;
    }

